* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
}

section header img {
    width: 15%;
    min-width: 150px;
}

section main {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section main h1 {
    width: 100%;
    color: white;
    margin-bottom: 50px;
    font-size: 48px;
    text-align: center;
}

section main button {
    background-color: rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 250px;
    height: 40px;
    border: 1px solid gray;
    outline: none;
    color: gray;
    margin: 50px auto;
    cursor: pointer;
    transition: 400ms;
}

section main button:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

section main .users {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section main .users .users-card {
    max-width: 150px;
    margin: 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
}

section main .users .users-card:hover {
    top: -10px;
}

section main .users .users-card img {
    width: 90%;
    min-width: 80px;
}

section main .users .users-card p {
    font-size: 18px;
    margin: 20px 0;
    color: white;
}

@media (max-width: 1000px) {
    section {
        height: auto;
    }

    section header {
        justify-content: center;
        padding: 20px 0;
    }

    section main {
        width: 60%;
        margin: 70px auto;
    }

    section main h1 {
        font-size: 34px;
    }

    section main .users {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}