* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    height: 70vh;
    margin: auto;
    background: url("/linkedin/assets/logo.png") no-repeat;
    background-position: 42vw 5vh;
}

header {
    width: 88%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

header img {
    width: 120px;
}

header .button {
    width: 25%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .button a {
    width: 150px;
    text-align: center;
    margin: 0 10px;
    color: rgb(95, 92, 92);
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    font-weight: 500;
}

header .button a:hover {
    background-color: #F3F3F3;
}

header .button #button2 {
    width: 100px;
    border: 1px solid #2977C9;
    color: #2977C9;
}

header .button #button2:hover {
    background-color: #E5F5FC;
    border: 2px solid;
}

section {
    width: 55%;
    height: 75vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

section h1 {
    font-size: 56px;
    line-height: 70px;
    color: #2977C9;
    margin-bottom: 30px;
}

section a {
    width: 480px;
    height: 55px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    line-height: 28px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 2px 1px 7px black;
    border: 0;
    border-radius: 8px;
    transition: 500ms;
}

section a:hover {
    background-color: #2977C9;
    color: white;
}

section a i {
    margin-left: 130px;
}