@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 5;
}

header .header-logo {
    width: 8%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .header-logo img {
    width: 60px;
}

header .header-menu {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header .header-menu a {
    text-decoration: none;
    color: rgba(17, 17, 17, 0.7);
    font-weight: 500;
}

header .header-menu a:hover {
    color: #D989FF;
}

header .header-menu a span {
    margin-left: 10px;
    background-color: #e9d2f283;
    padding: 5px 20px;
    border-radius: 15px;
    font-weight: bold;
}

header .header-menu a span:hover {
    background-color: #E9D2F2;
    color: black;
}

header .header-login {
    width: 22%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .header-login a {
    color: #8A05BE;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .header-login a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #8A05BE;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

header .header-login a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

header .header-login a i {
    margin-left: 10px;
    font-size: 25px;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 80px;
}

section.content2,
section.content3,
section.content4,
section.content5,
section.content6,
section.content7,
section.content8 {
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 70px;
}

section.content1 .content1-description,
section.content2 .content2-description,
section.content3 .content3-description,
section.content4 .content4-description,
section.content5 .content5-description,
section.content6 .content6-description,
section.content7 .content7-description,
section.content8 .content8-description {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

section.content1 .content1-description h1,
section.content2 .content2-description h1,
section.content3 .content3-description h1,
section.content4 .content4-description h1,
section.content5 .content5-description h1,
section.content6 .content6-description h1,
section.content7 .content7-description h1,
section.content8 .content8-description h1 {
    font-size: 48px;
    line-height: 55.7px;
    color: #FFFFFF;
}

section.content3 .content3-description h1 span,
section.content4 .content4-description h1 span {
    color:  #8A05BE;
}

section.content1 .content1-description a,
section.content2 .content2-description a,
section.content3 .content3-description a,
section.content4 .content4-description a,
section.content5 .content5-description a,
section.content6 .content6-description a,
section.content7 .content7-description a,
section.content8 .content8-description a {
    width: 210px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.3px;
    color: #FFFFFF;
    position: relative;
    text-decoration: none;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

section.content1 .content1-description a:before,
section.content2 .content2-description a:before,
section.content3 .content3-description a:before,
section.content4 .content4-description a:before,
section.content5 .content5-description a:before,
section.content6 .content6-description a:before,
section.content7 .content7-description a:before,
section.content8 .content8-description a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

section.content1 .content1-description a:hover:before,
section.content2 .content2-description a:hover:before,
section.content3 .content3-description a:hover:before,
section.content4 .content4-description a:hover:before,
section.content5 .content5-description a:hover:before,
section.content6 .content6-description a:hover:before,
section.content7 .content7-description a:hover:before,
section.content8 .content8-description a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

section.content1 .content1-description a i,
section.content2 .content2-description a i,
section.content3 .content3-description a i,
section.content4 .content4-description a i,
section.content5 .content5-description a i,
section.content6 .content6-description a i,
section.content7 .content7-description a i,
section.content8 .content8-description a i {
    margin-left: 15px;
}

section.content1 .content1-img,
section.content2 .content2-img,
section.content3 .content3-img,
section.content4 .content4-img,
section.content5 .content5-img {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px 0;
}

section.content1 {
    background-color: #8A05BE;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 85px 40px;
}

section.content1 .content1-img img {
    width: 100%;
}

section.content1 .form {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

.form form {
    background-color: white;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 15px;
}

.form form h3 {
    font-size: 24px;
    line-height: 31.7px;
    color: #111111;
    margin: 20px 0;
}

.form form span {
    font-size: 14px;
    line-height: 16px;
    color: #111111;
    margin: 5px 0;
}

.form form input {
    border: 0;
    outline: none;
    background-color: #F0F0F0;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 15px;
}

.form form button {
    background-color: #F0F0F0;
    font-size: 18px;
    line-height: 21.6px;
    color: #111111;
    margin: 20px auto;
    border: 0;
    outline: none;
    width: 80%;
    height: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: 400ms;
}

.form form button:hover {
    background-color: #C3C3C3;
}

section.content2 .content2-description h1 {
    color: #111111;
}

section.content2 .content2-description a {
    color:  #8A05BE;
}

section.content2 .content2-description a:before {
    background-color: #8A05BE;
}

section.content2 .content2-img img {
    width: 70%;
}

section.content3 {
    background-color: #F5F5F5;
}

section.content3 .content3-description h1 {
    color: #111111;
}

section.content3 .content3-description a {
    color:  #8A05BE;
    width: 260px;
}

section.content3 .content3-description a:before {
    background-color: #8A05BE;
}

section.content3 .content3-img img {
    width: 100%;
}

section.content4 .content4-description h1 {
    color: #111111;
}

section.content4 .content4-description a {
    color:  #8A05BE;
    width: 120px;
}

section.content4 .content4-description a:before {
    background-color: #8A05BE;
}

section.content4 .content4-img img {
    width: 50%;
}

section.content5 {
    background-color: #530082;
}

section.content5 .content5-description h1 span {
    color: #C093FB;
}

section.content5 .content5-description a {
    width: 125px;
}

section.content5 .content5-img img {
    width: 65%;
}

section.content6 {
    background: url('../assets/img6.webp') no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

section.content6 .content6-description a {
    width: 230px;
}

section.content7 {
    background: url('../assets/img7.webp') no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

section.content7 .content7-description a {
    width: 390px;
}

section.content8 {
    background: url('../assets/img8.webp') no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

section.content8 .content8-description a {
    width: 230px;
}

section.content9 {
    background: #111111;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid rgba(128, 128, 128, 0.466);
}

section.content9 .cards {
    width: 300px;
    height: auto;
    margin: 20px 0 20px 50px;
    display: flex;
    flex-direction: column;
}

section.content9 .cards h3 {
    margin: 20px 0;
    color: #B9B9B9;
}

section.content9 .cards a {
    text-decoration: none;
    color: white;
    margin: 5px 0;
    font-weight: bold;
    font-size: 18px;
}

section.content9 .cards a:hover {   
    color: #B169D3;
}

section.content9 .cards img {
    width: 150px;
    margin: 10px 0;
    border: 10px solid black;
}

section.content10 {
    border-bottom: 1px solid rgba(128, 128, 128, 0.466);
    background-color: #111111;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0;
}

section.content10 .footer1 {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 0 50px;
}

section.content10 .footer1 img {
    width: 70px;
}

section.content10 .footer1 .address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

section.content10 .footer1 .address p {
    margin: 5px 0;
    color: white;
}

section.content10 .social {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section.content10 .social a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
}

section.content10 .social a i {
    font-size: 22px;
}

section.content10 .social a i:hover {
    color: #D57DFF;
}

section.content11 {
    background-color: #111111;
    width: 100%;
    height: auto;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

section.content11 .check {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section.content11 .check label {
    /* margin: 0 5px; */
    font-size: 18px;
    font-weight: 500;
    color: white;
}

section.content11 .check input {
    margin: 0 10px;
    transform: scale(1.4);
    border: 0;
    outline: none;
}